/*
Some basic styling for the QViz application.
Ted Natoli
August 2014
*/

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.selected {
  stroke: #00FFFF;
  stroke-width: 3px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.dev
{
    outline: #000000 dotted;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

